/* Reset */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Core styles */

html,
body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.4;
	overflow-x: hidden;
	font-size: 16px;
}

a {
	color: #333;
	text-decoration: none;
}

h1,
h2,
h3 {
	padding-bottom: 20px;
}

p {
	padding: 10px 0;
}

/* Utils classes */
.container {
	padding: 0 15px;
	margin: 0 auto;
	max-width: 1170px;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

.primary-text {
	color: #f7c08a;
}

.lead {
	font-size: 20px;
}

.btn {
	padding: 13px 20px;
	cursor: pointer;
	text-align: center;
	display: inline-block;
	border: none;
}

.btn:hover {
	transition: all 0.25s ease;
	color: #333;
	background-color: #f7c08a;
}

.btn-primary {
	background-color: #f7c08a;
	color: #333;
}

.btn-dark {
	color: #f4f4f4;
	background-color: #333;
}

.btn-light {
	color: #333;
	background-color: #f4f4f4;
}

.bg-dark {
	color: #fff;
	background-color: #333;
}

.bg-light {
	color: #333;
	background-color: #f4f4f4;
}

.bg-primary {
	background-color: #f7c08a;
	color: #333;
}

/* Main styles */

#navbar {
	background-color: #333;
	color: #fff;
	overflow-x: auto;
}

#navbar a {
	color: #fff;
}

#navbar .header__logo {
	float: left;
	padding-top: 20px;
	font-size: 28px;
	font-weight: bold;
}

#navbar ul {
	float: right;
	list-style: none;
}

#navbar ul li {
	line-height: 2.5;
	text-align: center;
	display: inline-block;
}

#navbar li a {
	display: block;
	padding: 16px;
	text-align: center;
}

#navbar li a:hover,
#navbar li.active a {
	background-color: #444;
	transition: all 0.25s cubic-bezier(0.215, 0.610, 0.355, 1);
	color: #f7c08a;
}

#showcase {
	height: 600px;
	background: url("../img/showcase.jpg") no-repeat center center/cover;

}

#showcase .showcase-content {
	padding-top: 170px;
	color: #fff;
	text-align: center;
}

#showcase .showcase-content h1 {
	margin-bottom: 10px;
}

#showcase .showcase-content p {
	margin-bottom: 40px;
}

#home-info {
	height: 400px;
}

.info-img {
	min-height: 100%;
	width: 50%;
	float: left;
	background: url("../img/photo-1.jpg") no-repeat center center;
}

.info-content {
	height: 100%;
	padding: 50px 30px;
	width: 50%;
	text-align: center;
	float: right;
	overflow: auto;
}

.info-content p {
	margin-bottom: 20px;
}



.box {
	float: left;
	width: 33.3%;
	text-align: center;
	padding: 30px;
}

.box .fas {
	margin-bottom: 15px;
}

#footer {
	text-align: center;
	padding: 20px;
	color: #fff;
}